services:
  server:
    build: ./cabot_dashboard_server
    ports:
      - "8000:8000"
    environment:
      - CABOT_DASHBOARD_LOG_LEVEL
      - CABOT_DASHBOARD_LOG_TO_FILE
      - CABOT_DASHBOARD_API_KEY
      - CABOT_DASHBOARD_SESSION_TIMEOUT
      - CABOT_DASHBOARD_MAX_ROBOTS
      - CABOT_DASHBOARD_POLL_TIMEOUT
      - CABOT_DASHBOARD_DEBUG_MODE
      - CABOT_DASHBOARD_ALLOWED_CABOT_IDS
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  client:
    build: ./cabot_dashboard_client
    volumes:
      #for systemctl
      - /run/systemd/system:/run/systemd/system
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
      - /sys/fs/cgroup:/sys/fs/cgroup
      # for systemctl --user
      - /run/user:/run/user
      - /usr/bin/docker:/usr/bin/docker
      - /usr/local/bin/docker-compose:/usr/local/bin/docker-compose
      - /var/run/docker.sock:/var/run/docker.sock
    #required fo systemctl
    privileged: true
    environment:
      - DBUS_SESSION_BUS_ADDRESS=unix:path
      - CABOT_DASHBOARD_SERVER_URL
      - CABOT_DASHBOARD_API_KEY
      - CABOT_DASHBOARD_LOG_LEVEL
      - CABOT_DASHBOARD_LOG_TO_FILE
      - CABOT_DASHBOARD_POLLING_INTERVAL
      - CABOT_DASHBOARD_CABOT_ID
      - CABOT_DASHBOARD_DEBUG_MODE
      - CABOT_DASHBOARD_DEBUG_STATUS
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  logs:

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "200k"
    max-file: "10"

x-environment: &default-environment
  LOG_LEVEL: INFO
  LOG_TO_FILE: false
